<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.riobamba.geolam" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Geolam"
        tools:targetApi="s" >
        <activity
            android:name=".ReporteGraficoUsuarios"
            android:exported="false" />
        <activity
            android:name=".ReporteGraficoTop"
            android:exported="false" />
        <activity
            android:name=".ReportesAdmin"
            android:exported="false" />
        <activity
            android:name=".InfoApp"
            android:exported="false" />
        <activity
            android:name=".ViewPDF"
            android:exported="false" />
        <activity
            android:name=".Buscar_Especialidades"
            android:exported="false" />
        <activity
            android:name=".conexion_internet"
            android:exported="false" />
        <activity
            android:name=".EspecialidadLugar"
            android:exported="true" />
        <activity
            android:name=".login_admin"
            android:exported="true" />
        <activity
            android:name=".actualizar_lugar_medico"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".AsignarEspecialidad"
            android:exported="true" />
        <activity
            android:name=".AsignarMedico"
            android:exported="true" />
        <activity
            android:name=".ListarLugarUsuario"
            android:exported="true" />
        <activity
            android:name=".RecuperacionContrasenia"
            android:exported="true" />
        <activity
            android:name=".IngresoMedico"
            android:networkSecurityConfig="@xml/network_security_config"
            android:theme="@style/Theme.Geolam"
            tools:targetApi="n" />
        <activity
            android:name=".IngresoLugarMedico"
            android:exported="true" />
        <activity
            android:name=".Listado"
            android:exported="true" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyChinLYnjP6UnqE0cwxL2kkyg83iD5DwIk" />

        <activity
            android:name=".IngresoEspecialidad"
            android:exported="true" />
        <activity
            android:name=".InicioAdmin"
            android:exported="true" />
        <activity
            android:name=".IngresoTipologia"
            android:exported="true" />
        <activity
            android:name=".GestionLugares"
            android:exported="true" />
        <activity
            android:name=".modelo.ConexionMapa"
            android:exported="true"
            android:label="@string/ConexionMapa" />
        <activity
            android:name=".ListarLugarMedico"
            android:exported="true" />
        <activity
            android:name=".ListadoCrud"
            android:exported="true" />
        <activity
            android:name=".LugarMedico"
            android:exported="true" />
        <activity
            android:name=".Inicio"
            android:exported="true" />
        <activity
            android:name=".ListadoUsuariosAdminControl"
            android:exported="true" />
        <activity
            android:name=".registrar"
            android:exported="true" />
        <activity
            android:name=".LugarMapa"
            android:exported="true" />
        <activity
            android:name=".ListadoEspecialidad"
            android:exported="true" />
        <activity
            android:name=".MedicoListado"
            android:exported="true" />
        <activity
            android:name=".IngresoOpinion"
            android:exported="true" />
        <activity
            android:name=".OpinionListado"
            android:exported="true" />
        <activity
            android:name=".Menu"
            android:exported="true" />
        <activity
            android:name=".EspecialidadListadoUsuario"
            android:exported="true" />
        <activity
            android:name=".EspecialidadListadoAdmin"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".DatosPersonalesUsuario"
            android:exported="true" />
        <activity
            android:name=".RegistroAdmin"
            android:exported="true" />
        <activity
            android:name=".MedicoAdmin"
            android:exported="true" />
        <activity
            android:name=".Tipologia"
            android:exported="true" />
        <activity
            android:name=".MedicoAsignacion"
            android:exported="true" />
        <activity
            android:name=".EspecialidadAsignacion"
            android:exported="true" />
        <activity
            android:name=".LugarBusqueda"
            android:exported="true" />
        <activity
            android:name=".LugarBusquedaList"
            android:exported="true" />
        <activity
            android:name=".Busqueda"
            android:exported="true" />
        <activity
            android:name=".MedicoBusqueda"
            android:exported="true" />
        <activity
            android:name=".MedicoBusquedaList"
            android:exported="true" />
        <activity
            android:name=".MedicoUsuario"
            android:exported="true" />
        <activity
            android:name=".EspecialidadBusquedaList"
            android:exported="true" />
        <activity
            android:name=".LugarFavorito"
            android:exported="true" />
        <activity
            android:name=".LugarPubPri"
            android:exported="true" />
        <activity
            android:name=".MapaLugarCerca"
            android:exported="true" />
        <activity
            android:name=".Bienvenida"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
